.main {
  min-height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .score_text {
    color: #000;
    margin-left: 5px;
  }

  .hits {
    color: green;
  }

  .errors {
    color: red;
  }

  .top_container {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .matrix_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

.mtop_50 {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .top_container {
    flex-direction: column;

    div {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .mtop_50 {
    margin: 15px 15px;
  }
}
