.main {
  min-height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .hits {
    color: green;
  }

  .errors {
    color: red;
  }

  .matrix_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}
