.main {
  min-height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .score_text {
    color: #000;
    margin-left: 5px;
  }

  .hits {
    color: green;
  }

  .errors {
    color: red;
  }

  .matrix_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

.mtop_50 {
  margin-top: 50px;
}
